DB_URL=jdbc:postgresql://<YOUR_AWS_RDS_ENDPOINT>:5432/<YOUR_DB_NAME>
DB_USERNAME=<YOUR_DB_USERNAME>
DB_PASSWORD=<YOUR_DB_PASSWORD>

REDIS_HOST=<YOUR_REDIS_HOST>
REDIS_PORT=6379
# If your redis has a password, add it here, otherwise leave blank or remove
REDIS_PASSWORD=